<md-toolbar class="md-small-tall md-whiteframe-2dp">
    <h3 class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <md-truncate flex ng-if="title!=null">Page {{title}}</md-truncate>
        <div class="canvas-viewer-command" ng-if="options.controls.image">
            <md-button class="md-secondary" ng-click="options.controls.numPage=options.controls.numPage-1"
                       ng-hide="options.controls.totalPage==1">
                <i class="material-icons">navigate_before</i>
                <md-tooltip md-direction="bottom">Previous</md-tooltip>
            </md-button>
            <md-button class="md-secondary" ng-hide="options.controls.totalPage==1">
                {{options.controls.numPage}}/{{options.controls.totalPage}}
            </md-button>
            <md-button class="md-secondary" ng-click="options.controls.numPage=options.controls.numPage+1"
                       ng-hide="options.controls.totalPage==1">
                <i class="material-icons">navigate_next</i>
                <md-tooltip md-direction="bottom">Next</md-tooltip>
            </md-button>
            <md-button class="md-secondary" ng-click="resizeTo(page)"><i class="material-icons">fullscreen</i>
            </md-button>
            <md-button ng-click="rotate(-1)" ng-hide="options.controls.disableRotate">
                <i class="material-icons">rotate_left</i>
                <md-tooltip md-direction="bottom">Rotate Left</md-tooltip>
            </md-button>
            <md-button ng-click="rotate(1)" ng-hide="options.controls.disableRotate">
                <i class="material-icons">rotate_right</i>
                <md-tooltip md-direction="bottom">Rotate Right</md-tooltip>
            </md-button>
            <md-button ng-click="zoom(-1)" ng-hide="options.controls.disableZoom">
                <i class="material-icons">zoom_out</i>
                <md-tooltip md-direction="bottom">Zoom Out</md-tooltip>
            </md-button>
            <md-button ng-hide="options.controls.disableZoom">{{options.zoom.value * 100 | number:0}}%</md-button>
            <md-button ng-click="zoom(1)" ng-hide="options.controls.disableZoom">
                <i class="material-icons">zoom_in</i>
                <md-tooltip md-direction="bottom">Zoom In</md-tooltip>
            </md-button>
        </div>
        <div class="canvas-viewer-command" ng-if="options.controls.sound">
            <md-button ng-click="stop()"><i class="material-icons">stop</i></md-button>
            <md-button ng-click="play()"><i class="material-icons">play_arrow</i></md-button>
        </div>
        <div class="viewer-controls">
            <md-button class="md-icon-button" ng-click="$parent.main.togglePage()"
                       aria-label="Hide Batch Window">
                <md-tooltip md-direction="bottom">Hide Page Window</md-tooltip>
                <md-icon>format_indent_decrease</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="$parent.main.detachPage($event)" aria-label="Open in new Window">
                <md-tooltip md-direction="bottom">Open in new Window</md-tooltip>
                <md-icon>open_in_new</md-icon>
            </md-button>
        </div>
    </h3>
</md-toolbar>
<md-content layout-padding="" flex="">
    <div class="viewer-container">
        <canvas class="viewer"
                ng-mouseleave="canMove=false"
                ng-mousedown="mousedown($event)"
                ng-mouseup="mouseup($event)"
                ng-init="canMove=false"
                ng-mousemove="mousedrag($event,canMove)">
        </canvas>
    </div>
</md-content>
